APP_NAME=ServicoSimples
APP_ENV=local
APP_KEY=base64:Rl1kkZGCOJVgFKQCKrCQbRXuPKoIX3t6YXEY4h2oOVc=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=servicosimples
DB_USERNAME=debian-sys-maint
DB_PASSWORD=sRGOz53jV4tPfLFs

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_DRIVER=file

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
